* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lato;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

button:focus {
    outline: 0;
}

::selection {
    background-color: var(--color-primary-light);
}

/* VARIABLES */
:root {
    --color-primary-light: #2fad94;
        /*rgb(47, 173, 148) */
    --color-primary-dark: #265d0c;
    /* rgb(38, 93, 12) */
    --color-light-black: #202020;
    --color-dark-grey: #404040;
    --color-medium-grey: #CDCDCD;
    --color-light-grey: #f9f9f9;

    --border-radius-main: .3rem; 
    --margin-small: 1rem 0;
    --margin-medium: 2rem 0;
    --margin-big: 3rem 0; 

        
    --shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-heavy: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 28px 0 rgba(0, 0, 0, 0.3);
}

/* TYPOGRAPHY */
.header-primary {
    font-size: 3rem;
    color: var(--color-light-black);
    margin: var(--margin-medium);
}

.header-secondary {
    font-size: 2.5rem;
    color: var(--color--grey);
    margin: .5rem 1rem;
}

.header-tertiary {
    font-size: 2rem;
    color: var(--color-dark-grey);
    margin: .5rem 1rem;
}

.header-tertiarty--white--bold {
    color: var(--color-light-grey);
    font-weight: 900;
    font-size: 4rem;
}

.header-color-grey {
    color: var(--color-dark-grey);
}

.header-color-primary {
    color: var(--color-primary-light);
}

.header-tertiary--black-border {
    border-bottom: 2px solid black;
    align-self: flex-start;
}

.primary__paragraph {
    font-size: 1.6rem;
    color: var(--color-dark-grey);
    margin: .5rem 1rem;
}


.primary__paragraph--small {
    font-size: 1.4rem;
}

.primary__paragraph--black {
    color: black;
    font-size: 1.8rem;
}

.primary__paragraph--white--thin {
    color: var(--color-light-grey);
    font-weight: 100;
}

.primary__paragraph--white--bold {
    color: var(--color-light-grey);
    font-weight: 700;
}

.primary__paragraph--white--light-grey {
    color: var(--color-medium-grey);
}

.store-category__links:hover {
    color: var(--color-primary-light);
}

.paragraph-price {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0rem 1rem;
}

.pragraph-price--border {
    text-decoration: line-through;
}

.parapgraph-price--red {
    color: red;
}


/* BTN */
.btn-shop {
    text-decoration: none;
    border: none;
    padding: 1.2rem 2.8rem;
    color: var(--color-light-grey);
    background-color: var(--color-primary-light);
    font-size: 1.6rem;
    border-radius: 3px;
    margin: 1rem;
    cursor: pointer;
    transition: all .2s;
    box-shadow: var(--shadow-light);
    text-transform: uppercase;
}

.btn-shop:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow-heavy);
}

/* LIGHTBOX */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}

.lightbox:target {
    outline: none;
    display: block;
    visibility: visible;
}

/* HERO-CONTAINER */
.hero-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Heropowder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.hero__img-container {
    width: 100%;
    height: 75vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(105deg, transparent 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1)100%);
    

}

.content__hero-container {
    display: flex;
    width: 70%;

    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

.hero__form-container {
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 20px 20px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    font-family: "lato";
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary-main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1.5rem;
}

.text-box-newsletter .heading-primary-main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
}
.text-box-newsletter .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
}




.sign-up-input {
    border: 0;
    
    background: none;
    display: block;
    margin: 2rem auto;
    border: .2rem solid var(--color-primary-light);
    padding: 1rem 1rem;
    width: 20rem;

    outline: none;
    color: white;
    border-radius: .3rem;
}

.sign-up-button {
    border: 0;
    background: none;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border: .2rem solid var(--color-primary-dark);
    padding: 1.2rem 1rem;
    width: 12.5rem;

    outline: none;
    color: white;
    font-size: 1.4rem;
    border-radius: .3rem;
}

.sign-up-button:hover, .sign-up-button:focus {
    background: var(--color-primary-dark);
    cursor: pointer;
}
.sign-up-input:focus {
    
    width: 22rem;

}
/* NAV */
/* NAV */

.navigation {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: var(--color-light-grey);
    box-shadow: var(--shadow-light);
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-bottom: 50px;
}
.navigation__list a {
    text-decoration: none;
    color: var(--color-primary-light);
}

.navigation__link {
    
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--color-primary-light);
    margin: .5rem 3rem;
    list-style: none;
    text-decoration: none;
    transition: all 1s;
    text-decoration: underline transparent;
}

.navigation__link:hover {
    text-decoration: underline var(--color-primary-dark);
    font-weight: 600;
}


.icon__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    list-style: none;
    font-size: 4rem;
    color: var(--color-primary-light);

}


.icon__nav {
    margin-right: .5rem;
}
.icon__link {
   margin: 0rem 2rem;
   display: flex;
   justify-items: center;
}
.icon__nav:hover {
    cursor: pointer;

}
.icon__nav i:hover {
    transform:scale(1.2);
}
/* Mobile nav */

.mobile-nav {
    width: 100%;
}
.nav-container {
    display: flex;
    align-content: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;  
    justify-content: space-between;
    

}
.navigation .icon__list, .navigation__list {
    display: flex;
    align-items: center;

    list-style-type:none;
    padding: 20px 0;
    text-align: center;
    max-height: none;
}

.mobile-nav input{
    display: none;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
}
.hamburger {
    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 3;
}
.mobile-nav span {
    display: none;
    width: 3.3rem;
    height: 0.4rem;
    margin-bottom: 0.5rem;
    position: relative;
    background-color: var(--color-medium-grey);
    border-radius: 0.3rem;
    left: 0;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), 
        opacity 0.3s ease;
}
.search-input {

    background: none;
    display: block;

    padding: 1.2rem 1rem;
    outline: none;
    color: var(--color-primary-light);
    font-size: 1.4rem;
    border-radius: .3rem;
    border: .2rem solid var(--color-primary-light);
}
.search-input:focus,.search-input:hover {
    border: .3rem solid var(--color-primary-light);
}


.btn-login {
    display: block;
    text-align: center;
    border: 0.2rem solid var(--color-primary-light);
    padding: 1.2rem 1rem;
    width: 12.5rem;
    outline: none;
    color: var(--color-primary-light);
    font-size: 1.4rem;
    border-radius: .3rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}

.btn-login:hover {
    color:white;
    background: var(--color-primary-light);
}

/* GALLERY SLIDE */

.gallery-container2 {
    height: auto;
    width: 70%;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow-heavy);
    margin: 10rem;
    
}

.slider-container-stor {
    width: 300%;
    display: flex;
    background-size: cover;
    transition: 1s ease;
    height: auto;      
}

.slider-container-stor img {
    width: 100%;
    height: auto;
}

.slider__img-container {
    width: 1683px;
}
#s1,#s2,#s3 {
    position: absolute;
    top: -150px;
}

.chevron__icon--large {
    height: 5rem;
    width: 5rem;
    fill: var(--color-dark-grey);
    transform: rotate(0deg);
    margin-top: .3rem;
}

.icon-left {
    transform: rotate(180deg);
}

.gallery-container2 .prevNext {
	position: absolute;
	z-index: 1;
	top: 20%;
	width: 100%;
	height: 0;
}

.gallery-container2 .prevNext > div+div {
	visibility: hidden; 
}

.gallery-container2 .prevNext a {
	background: #fff;
	position: absolute;
	width:       6rem;
	height:      6rem;
    text-align: center;
    align-content: center;
	opacity: 0.7;
	
	left: 0;
}
.gallery-container2 .prevNext a:hover {
	opacity: 1;
}

.gallery-container2 .prevNext a:hover .chevron__icon--large {
    fill: var(--color-primary-light);
}

.gallery-container2 .prevNext a+a {
	left: auto;
	right: 0;
}
.gallery-container2 >s:target ~ .prevNext >* {      visibility: hidden;}

#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}

#s1:target ~ .slider-container-stor {transform: translateX(  0%); -webkit-transform: translateX(  0%);}
#s2:target ~ .slider-container-stor {transform: translateX(-33.33%); -webkit-transform: translateX(-33.33%);}
#s3:target ~ .slider-container-stor {transform: translateX(-66.66%); -webkit-transform: translateX(-66.66%);}

/* ILLUSTRATION */

.illustration-container {
    width: 98%;
    border-radius: .3rem;
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: space-evenly;
    margin: 10rem;
    box-shadow: var(--shadow-heavy);
    
}
.illustration-image img {
    width: 60%;
}
.illustration-image {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 14%;
    margin: 4rem;
}
.illustration-image p {
    margin: 0;
}

/* CONTENT */

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
}

.paragraph__img-container {
    width: 70%;
    margin: 10rem;
    display: flex;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .4);
    
}

.content__paragraph-container {
    width: 50%;
    background-color: var(--color-light-grey);
    padding: 3rem 6rem;
    border-radius: .3rem;

}
.content__paragraph-container .btn-login {
    margin: var(--margin-medium);
}

.content__img-container {
    width: 50%;
    background-image: url(../img/powder-inshake.png);
    background-size: cover;
    border-radius: .3rem;
}
.content__img-container2 {
    width: 50%;
    background-image: url(../img/plant-good.jpg);
    background-size: cover;
    border-radius: .3rem;
}
.content__img-container3 {
    width: 50%;
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    border-radius: .3rem;
}
.content__img-container4{
    width: 50%;
    background-image: url(../img/slide3.jpg);
    background-size: cover;
    border-radius: .3rem;
}
/* NEWSLETTER */
.newsletter__img-container {
    width: 70%;
    margin: 10rem;
    display: flex;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .4);
    background-image: url(/img/vegan-prot.jpg); 
    border-radius: var(--border-radius-main);
    border-radius: .3rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__newsletter-container {
    width: 50%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .9));
    padding: 3rem 1.2rem;
    border-radius: .3rem;
}

.blank__img-container {
    width: 50%;
    border-radius: .3rem;
}

.form{
    display: flex;

    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.form-newsletter {  
    border-radius: var(--border-radius-main);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.heading-primary-newsletter {
    color: #fff;
    text-transform: uppercase;
    font-family: "lato";
    backface-visibility: hidden;
    margin-bottom: 2rem;

}

.text-box-newsletter {  
    text-align: center;
}






/* FOOTER */

.footer-container {
    width: 100%;
    background-image: linear-gradient(to right bottom, var(--color-dark-grey), var(--color-light-black));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo-container {
    width: 30%;
    display: flex;
    margin-top: -5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.header-name-container,
.footer-logo-name-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.footer-logo__list {
    display: flex;
    flex-direction: row;
}

.footer-logo__link {
    font-size: 1.6rem;
    font-weight: 100;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    color: var(--color-light-grey);
    cursor: pointer;
    transition: all .2s;
}

.footer-logo__link:hover {
    color: var(--color-primary-light);
    transform: rotate(-5deg);
    box-shadow: var(--shadow-heavy);
}

.footer-location-container {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer__icon-container {
    display: flex;
    margin: 1rem;
}

.footer-socialmedia-container {
    width: 30%;
}

.footer-socialmedia-icons {
    display: flex;
    flex-direction: row;
}

.footer__icon {
    margin: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-primary-light);
    cursor: pointer;
    transition: all .2s;
}

.footer__icon-contact:hover,
.footer__icon:hover {
    fill: var(--color-light-grey);
    transform: rotate(-5deg) scale(1.3);
}

.footer__icon-contact{
    margin-top: 1px;
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary-light);
    cursor: pointer;
    transition: all .2s;
}


/* STORE */

.store-container {
    width: 100%;
    margin: 10rem;
    display: flex;
    justify-content: center;
}

.store-category-container {
    height: 100%;
    background-color: white;
    align-items: center;
    margin-top: 5rem;
    margin-left: 5rem;
    border-radius: 3px;
    box-shadow: var(--shadow-light);
    align-items: center;
}

.store-category__list {
    display: flex;
    flex-direction: column;
}

.store-category__links {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 2rem;
}

.store-category--green {
    color: var(--color-primary-light);
}

.store-card-container {
    width: 60%;
    margin: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.store-card-1,
.store-card-2,
.store-card-3,
.store-card-4,
.store-card-5,
.store-card-6,
.store-card-7,
.store-card-8,
.store-card-9 {
    width: 28%;
    justify-content: space-evenly;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 2rem;
    border-radius: 3px;
    box-shadow: var(--shadow-light)
}

.store-card__img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 3px;
    transition: all .2s;
}

.store-card__img:hover{
    transform: translate(-50%) scale(1.06);
}

.price-container {
    display: flex;
}

/* STORE POPUP */

.store-popup-cart-container-1 {
    display: flex;
    width: 30%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
.store-popup-cart-container-1 img {
    width: 40%;
}

.cart__paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-popup-card-1 {
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;
    overflow-x:hidden;
    overflow-y: scroll;
}

.store-popup__img-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.store-popup__img {
    max-width: 100%;
    max-height: 100%;
}

.store-popup__paragraph-container {
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
}

.store-popup__more-container {
    height: 60%;
}

.store-popup-buy-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.close  {
    position: absolute;
    top: 1rem;
    right: 2rem;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.close:hover {
    color: var(--color-primary-light);
}

.store-popup__select-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.store-popup-taste {
    width: 42%;
    height: 3rem;
    margin: 1rem;
    font-size: 1.6rem;
}

.store-popup-taste:focus {
    outline-color: var(--color-primary-light); 
}

.store-popup-taste--small {
    width: 25%;
}

.store__form-count {
    font-size: 5rem;
}

input[type=number] {
    width: 8%;
    height: 7%;
    border-radius: 3px;
    margin-top: 1.5rem;
    left: 1.5rem;
    position: absolute;
}

.store-popup-buy-container .btn-shop {
    margin-left: 8rem;
}

.store-popup__more-container {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.shop-show-more1 {
   display: none;
}

.btn-shop-more1,
.btn-shop-more2  {
    width: 95%;
    font-size: 2rem;
    border: none;
    margin: 1rem;
    padding: .5rem;
    text-decoration: none;
    background-color: white;
    border: 1px solid var(--color-medium-grey);
    border-radius: 3px;
    position: relative;
    text-align: left;
}

.store-chevron__icon {
    height: 2rem;
    width: 2rem;
    transform: rotate(90deg);
    position: absolute;
    right: 2rem;
    transition: all .2s;
}

.btn-shop-more1:focus ~ .shop-show-more1 {
    display: block;
}
.btn-shop-more1:focus .store-chevron__icon {
    transform: rotate(-90deg);
}

.shop-show-more2 {
    display: none;
 }
 
.btn-shop-more2:focus ~ .shop-show-more2 {
    display: block;
 }

 .btn-shop-more2:focus .store-chevron__icon {
    transform: rotate(-90deg);
}

.store-star__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary-light);
}

.store-star__icon--grey {
    fill: var(--color-dark-grey);
}

.store-popup__star-container {
    margin: .5rem;
}

.store-popup-review-container {
    width: 95%;
    align-self: flex-start;
    border: 1px solid var(--color-medium-grey);
    border-radius: 3px;
    margin: 1rem;
}


/* Media queries */

@media screen and (max-width: 1250px){
    /* Store card container width */
    .store-card-container {
        width: 65%;
    }
}

@media screen and (max-width: 1200px){
    * {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 1040px){
    /* Store card sizes */
    .store-category-container {
        display: none;
    }

    .store-card-container {
        width: 100%;
    }
}

.store-card-1,
.store-card-2,
.store-card-3,
.store-card-4,
.store-card-5,
.store-card-6,
.store-card-7,
.store-card-8,
.store-card-9 {
    width: 28%;
    justify-content: space-evenly;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 2rem;
    border-radius: 3px;
    box-shadow: var(--shadow-light)
}


@media screen and (max-width: 1020px) {
    .nav-container {
        flex-direction: column;
        justify-content: space-between;
    } 
    .navigation ul {
         flex-direction: column;
     }
     .navigation {
         background: white;
     }
 
     .navigation .nav-container {
         max-width: 50rem;
         width: 40%;
         background-color: white;
         position: absolute;
         left:-100%;
         height: 100vh;
     }
     .mobile-nav input {
         display: block;
     }
     .mobile-nav span {
         display: flex;
     }
     #mobile-navToggle span:first-child {
        transform-origin: 0% 0%;
      }
      
      #mobile-navToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      .mobile-nav input:checked ~ .nav-container {
          left: 0;
      }
      .mobile-nav input:checked ~ .hamburger span {
        transform: rotate(-45deg) translate(-1.3rem, .5rem);
      }
      .mobile-nav input:checked ~ .hamburger span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg);
      }
      .mobile-nav input:checked ~ .hamburger span:nth-last-child(1) {
        transform: rotate(45deg) translate(-.7rem, 0);
      }
     .navigation {
        align-items: flex-start;
     }
     .navigation .icon__list, .navigation__list {
        width: auto;
        padding-top: 70px;
        align-items: center;
        text-align: left;
        font-size: 10rem;
        height: 50%;
     }
     .icon__list {
        padding-bottom: 40px;
     }
     .icon__link {
     width: 100%;
     margin: 0;
     flex-direction: column;
     align-items: center;
    }
    .btn-login {
        width: 70%;
    }
    
    /* Footer */
    .footer-container {
        flex-direction: column;        
        
    }
    .footer-logo-container, .footer-location-container, .footer-socialmedia-container {
        width: 80%;
    }
    .footer-logo-container{
        align-items: flex-start;
        margin-bottom: 0;

    }
    .footer-socialmedia-icons {
        margin-bottom: 10rem;
    }
    .primary__paragraph--white--bold, .primary__paragraph--white--light-grey {
        display: none;
    }

    /* Store popup */
    .store-popup-card-1 {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        flex-direction: column;
        overflow-y: scroll;
    }
    
    .store-popup__img-container {
        width: 100%;
        height: 50%;
    }
    
    .store-popup__img {
        max-width: 90%;
        max-height: 180%;
    }

    .store-popup__paragraph-container {
        width: 80%;
        height: 50%;
    }
    .close  {
        position: absolute;
        top: -98%;
        right: -8%;
        transition: all 200ms;
        font-size: 6rem;
    }
    .store-popup-buy-container {      
        margin: 2rem;
    }
    input[type=number] {
        width: 8%;
        height: 7%;
        border-radius: 3px;
        margin-top: 3rem;
        left: 1.5rem;
        position: absolute;
    }
}


@media screen and (max-width: 800px)  {
    /* Paragraph */
    .paragraph__img-container {
        width: 98%;
    }
    /* HERO-CONTAINER media query */
    .form {
        display: none;
    }
    
    .content__hero-container {
        width: 100%;
        text-align: center;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
    }
    .hero__form-container {
        display: none;
    }
    .hero__img-container {
        background-image: linear-gradient(45deg, transparent 0%, rgba(0, 0, 0, .5) 80%, rgba(0, 0, 0,  .8)100%);
    }
    .newsletter__img-container {
        width: 98%;
    }
    .content__newsletter-container {
        width: 100%;
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .9));
    }
}

@media screen and (max-width: 720px) {
    /* ILLUSTRATION media query*/
    .illustration-image {
        width: 30%;
    }
    .navigation .icon__list, .navigation__list {
        font-size: 5rem;
    }
    .navigation__link {
        font-size: 1.6rem;
    }
    .header-tertiarty--white--bold {
        font-size: 2rem;
    }
}

@media screen and (max-width: 668px){
    /* btn shop */
    .btn-shop {
        padding: 1.4rem 3rem;
        color: var(--color-light-grey);
        background-color: var(--color-primary-light);
        font-size: 1.2rem;
    } 
    .gallery-container2 {
        width: 98%;
    }
}

@media screen and (max-width: 648px){
    /* Store card margin */
    .store-card-1,
    .store-card-2,
    .store-card-3,
    .store-card-4,
    .store-card-5,
    .store-card-6,
    .store-card-7,
    .store-card-8,
    .store-card-9 {
        margin: 1rem;
    }
}


@media screen and (max-width: 600px) {
    
    /* Hero text */

        .heading-primary-main {
            font-size: 4rem;
        }  
        .heading-primary-sub {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }
    
    /* Paragraph */
    .paragraph__img-container {
        flex-wrap: wrap;
        width: 98%;
    }
    /* Content */
    .content__paragraph-container {
        width: 100%;
        order: 1;
    }
    .content__img-container,.content__img-container2,.content__img-container3,.content__img-container4 {
        width: 100%;
        display: flex;
        height: 30vh;
        
    }
    /* Store card width */
    .store-card-1,
    .store-card-2,
    .store-card-3,
    .store-card-4,
    .store-card-5,
    .store-card-6,
    .store-card-7,
    .store-card-8,
    .store-card-9 {
        width: 45%;
    }
}



@media screen and (max-width: 500px) {
    /* ILLUSTRATION media query*/
    .illustration-image {
        width: 70%;
    }
    .illustration-image img {
        width: 30%;
    }
    .illustration-container {
        justify-content: center;
        flex-flow: wrap;
    }
    .illustration-image p{
        font-size: 1.6rem;
    }
    .illustration-image .primary__paragraph--black {
        font-size: 2.6rem; 
    }
    .navigation .nav-container {
        width:100%;
    }
}

@media screen and (max-width: 486px) {
    /*STORE POPUP*/
    input[type=number] {
        width: 16%;
        height: 14%;
        border-radius: 3px;
        margin-top: 5rem;
        left: 1.5rem;
        position: absolute;
    }
    .store__form-count {
        font-size: 10rem;
    }
    
}



@media screen and (max-width: 368px){
    .store-card-1,
    .store-card-2,
    .store-card-3,
    .store-card-4,
    .store-card-5,
    .store-card-6,
    .store-card-7,
    .store-card-8,
    .store-card-9 {
        width: 44%;
    }
    .btn-shop {
        padding: 1rem 2.6rem;
        color: var(--color-light-grey);
        background-color: var(--color-primary-light);
        font-size: 1rem;
    } 
}

@media screen and (max-width: 316px){
    .store-card-1,
    .store-card-2,
    .store-card-3,
    .store-card-4,
    .store-card-5,
    .store-card-6,
    .store-card-7,
    .store-card-8,
    .store-card-9 {
        width: 94%;
    }
    .btn-shop {
        padding: 1.4rem 2.8rem;
        color: var(--color-light-grey);
        background-color: var(--color-primary-light);
        font-size: 1.4rem;
    }
}
